@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="hero-text" data-aos="zoom-out">

        <br><br><br><br><br><br>
        <h2>Helping Communities Rebulid and Recover</h2>
        <p>
            We are dedicated to providing efficient and compassionate disaster relief solutions<br>
            ensuring that no community is left behind in times of crisis.
        </p>
        <a asp-area="" asp-page="/Donate_Money" class="btn-get-started scrollto">Get Started</a>
    </div>



</section>
