@page
@model AppliedProgrammingTask1.Pages.Public_ViewModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Summary Page</title>

    <style>
        .main-heading {
            margin-left: 50px;
        }

        .wrapper {
            width: 95%;
            margin-left: 50px;
            height: auto;
            border-style: groove;
        }

            .wrapper .inner {
                width: 70%;
                margin-left: 50px;
                margin-top: 50px;
            }

        .row {
            margin-left: 50px;
        }
    </style>

</head>
<body>
    <hr>
    <h1 class="main-heading">Public Data</h1>
    <hr />
    

</body>
</html>